*~
nimcache
lofreq
.Rhistory
tests/all
tmp/
*.swp
lofreq.dSYM/
tests/denv2-simulation/
vcfeval
tests/denv2-pseudoclonal/
src/lofreqpkg/viterbi
tests/denv2-pseudoclonal
tests/denv2-simulation
tests/NC_000912_Mpneumoniae

tests/calltest
